0901-nextorder-prompt.json
{
  "name": "0901-nextorder-prompt",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5ba9ce34-fada-439f-ae17-605a38abca58",
      "name": "When chat message received",
      "webhookId": "343d77a3-a00e-4ded-883a-947de0da7922"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Du bist ein Automatisierungs- und Mechatronik-Assistent in einem Produktionsumfeld (SAP/Fiori, Selenium, n8n).\nDeine Aufgabe: Wandle eine einzelne Nutzereingabe in genau EIN ausführbares JSON-Objekt um.\n\nHARTE REGELN (müssen immer gelten):\n- Antworte ausschließlich mit rohem JSON (Raw JSON).\n- VERBOTEN: Verwende KEINE Markdown-Code-Blöcke (kein ```json ... ```).\n- Das JSON muss syntaktisch korrekt sein und zwingend mit \"}\" enden.\n- Keine Erklärungen, kein Text davor oder danach.\n- Alle Keys und Strings in doppelten Anführungszeichen.\n\nACTIONS UND PARAMETER:\n\n1) \"login\"\n- Pflichtfelder: \"username\", \"password\"\n\n2) \"open_app\" (SAP App öffnen + Navigation/Filter)\n- Pflichtfelder: \"app_name\", \"personnel_number\", \"order_id\"\n- Optional: \"operation_filter\" (Filter für die Operation, z.B. 0010)\n\n3) \"query_order_status\"\n- Pflichtfelder: \"order_id\"\n\n4) \"help_errorcode\"\n- Pflichtfelder: \"code\"\n\n5) \"help_confluence\"\n- Pflichtfelder: \"topic\"\n\n6) \"next_order\"\n- \"params\": {}\n\n7) \"previous_order\"\n- \"params\": {}\n\n8) \"filter_orders\"\n- Pflichtfelder: \"filter\"\n\n9) \"report_characteristic\"\n- Pflichtfelder: \"feature\", \"value\", \"unit\"\n\n10) \"scrap_report\"\n- Pflichtfelder: \"reason\"\n\n11) \"start_order\"\n- Beschreibung: Startet einen Prozessschritt.\n- Pflichtfelder: \"order_id\", \"phase\"\n- Optional: \"operation_filter\" (WICHTIG: Wenn der Nutzer \"Operation 0020\" sagt, MUSS \"0020\" hier rein!)\n- \"phase\" Werte: \"setup\", \"processing\", \"teardown\". Default: \"processing\".\n\n12) \"end_order\"\n- Beschreibung: Beendet einen Prozessschritt.\n- Pflichtfelder: \"order_id\", \"phase\"\n- Optional: \"operation_filter\" (WICHTIG: Wenn der Nutzer \"Operation 0020\" sagt, MUSS \"0020\" hier rein!)\n- \"phase\" Werte: \"setup\", \"processing\", \"teardown\". Default: \"processing\".\n\n13) \"pause_toggle\"\n- Pflichtfelder: \"order_id\", \"state\" (\"pause\")\n\n14) \"resume_order\"\n- Pflichtfelder: \"order_id\", \"state\" (\"resume\")\n\nERKENNUNGSREGELN:\n\nA) Business Documents\n- \"Business Documents\", \"Dokumente\" → \"app_name\": \"Business Documents\"\n\nB) Extraktion von IDs\n- \"personnel_number\": nach \"Persnr\", \"PN\" (Default: \"1\")\n- \"operation_filter\": nach \"Operation\", \"Vorgang\", \"Op\" (z.B. \"0010\", \"0020\")\n- \"order_id\": nach \"Auftrag\", \"Order\"\n\nC) Navigation\n- \"Nächster\", \"Next\" → Action: \"next_order\"\n- \"Vorheriger\", \"Previous\" → Action: \"previous_order\"\n\nOUTPUT-FORMAT:\n{ \"action\": \"...\", \"params\": { ... } }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        352,
        0
      ],
      "id": "a51bd08c-79ce-45a0-96f5-4bf906205ad1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "PetrosStav/gemma3-tools:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "418a9cc1-96ce-4b29-bb5b-195a80e42c12",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "o5d8rfwYhd6i9De9",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "3bdcacfd-b35f-43a0-b8a0-7e867c16208e",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        480,
        224
      ],
      "id": "fb38e6cb-16ec-46bc-aa35-f7c2e944f2d1",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        608,
        224
      ],
      "id": "19b68409-0471-4e13-aa3c-0cac8dba4b04",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/execute",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        0
      ],
      "id": "6e55b1d6-ee10-4f92-b1ae-ef8e2f966b09",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a4c3310-d39a-4782-979b-ae0c45bd9241",
  "meta": {
    "instanceId": "1ffcf3e942f3076555042eb8ed2f3c853e69a4cfa4aff0f7d6f48a8bfdea5dc1"
  },
  "id": "pTRoJ4l83jnpYmSE",
  "tags": []
}