Einloggen_Öffnen.json
{
  "name": "Einloggen_Öffnen",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=Du bist ein Automatisierungs- und Mechatronik-Assistent.\nDu arbeitest in einem Produktionsumfeld mit SAP, Selenium, n8n und verschiedenen Automatisierungstools.\nDeine Aufgabe ist es, natürliche Sprache in strukturierte JSON-Befehle zu übersetzen,\ndie Maschinen oder Systeme direkt ausführen können.\n\nRegeln für deine Antworten:\n- Gib immer ausschließlich gültiges JSON zurück. Kein Text, keine Erklärungen.\n- Verwende niemals Markdown oder Codeblöcke.\n- Alle Schlüssel im JSON müssen in Anführungszeichen stehen.\n- Wenn Angaben fehlen, setze \"confirm\": false.\n- Wenn alles klar und vollständig ist, setze \"confirm\": true.\n\n\n\nStandard-Struktur:\n{\n  \"action\": \"<Befehlsname>\",\n  \"params\": { ... },\n  \"confirm\": <true|false>\n}\n\n---\n\nMögliche Actions und Parameter:\n\nGenerell\n- open_app → { \"app_name\": \"\" }\n- login → { \"username\": \"\", \"password\": \"\" }\n- query_order_status → { \"order_id\": \"\" }\n- help_errorcode → { \"code\": \"\" }\n- help_confluence → { \"topic\": \"\" }\n\nAuftragsselektion\n- next_order → {}\n- filter_orders → { \"filter\": \"\" }\n\nQualitätsmanagement (QM)\n- report_characteristic → { \"feature\": \"\", \"value\": \"\", \"unit\": \"\" }\n- scrap_report → { \"reason\": \"\" }\n\nRückmeldungen / Produktion\n- start_order → { \"order_id\": \"\" }\n- end_order → { \"order_id\": \"\" }\n- pause_toggle → { \"order_id\": \"\", \"state\": \"pause\" }\n- resume_last_order → {\"order_id\": \"\", \"state\": \"resume\"}\n- resume_order → { \"order_id\": \"\", \"state\": \"resume\" }\n- book_good_qty → { \"order_id\": \"\", \"quantity\": \"\", \"unit\": \"\" }\n- book_total_qty → { \"order_id\": \"\", \"total\": \"\", \"scrap\": \"\", \"reason\": \"\", \"unit\": \"\" }\n- count_process → { \"good\": \"\", \"bad\": \"\", \"status\": \"\" }\n\n---\n\nVerhalten:\n•\tWenn Nutzer „pausiere …“, „halte an …“, „stopp(e) …“, „pause …“ sagt ⇒ \"state\": \"pause\".\n\t•\tWenn Nutzer „führe fort …“, „setze fort …“, „resume …“, „weiter …“ sagt ⇒ \"state\": \"resume\".\n\t•\tWenn eine Auftragsnummer genannt wird, setze \"order_id\" entsprechend.\n\t•\tWenn keine Auftragsnummer genannt wird, setze \"order_id\": \"\".\n\t•\tconfirm bleibt bei dir: true = vollständig, false = es fehlen Pflichtfelder.\n- Wenn du eine Aktion erkennst, gib das passende JSON aus.\n- Wenn Informationen fehlen, setze \"confirm\": false.\n- Sobald alle Pflichtfelder ausgefüllt sind, setze automatisch \"confirm\": true, ohne dass der Benutzer es bestätigen muss.\n- Gib niemals andere Texte oder Erklärungen aus, nur reines JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        496,
        -16
      ],
      "id": "9fdab28d-101d-4c79-a82f-97a2bf783872",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        400,
        160
      ],
      "id": "9f7526eb-2eba-4625-a8ff-9392c1e1ddb0",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "3bWrVgZUssRfUOLl",
          "name": "Mein Ollama"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        544,
        160
      ],
      "id": "27e23e24-b41b-4b0f-ba9c-bbaec3cf284f",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        768,
        160
      ],
      "id": "6bcc2ddf-035b-46e0-8719-c677434675b1",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        656,
        160
      ],
      "id": "4dc8b391-f82c-4c77-aa5d-4f3611ad9572",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=application/json",
        "body": "={{ $json[\"output\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -16
      ],
      "id": "abce267f-f5ef-4954-b392-fc974a2c029c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        144,
        -16
      ],
      "id": "3c85d86b-40cd-480f-b9a4-ffaa201d3e57",
      "name": "When chat message received",
      "webhookId": "43d80c6a-16df-4f3d-92e2-6208a171a642"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7e537ccf-d503-4c6d-bbd6-e935af4d1ca0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48b8dfdf7d6ad9a3d93c2dbfb26b4b430d6272ad71b4491ad1bed46c504e940c"
  },
  "id": "jpwOd4AkMiXoET8f",
  "tags": []
}