http-Ollama-Selenium-SAP.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ce6e8eee-cf8f-48b7-be4f-856706698bf9",
      "name": "When chat message received",
      "webhookId": "343d77a3-a00e-4ded-883a-947de0da7922"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Du bist ein Automatisierungs- und Mechatronik-Assistent.\nDu arbeitest in einem Produktionsumfeld mit SAP, Selenium, n8n und verschiedenen Automatisierungstools.\nDeine Aufgabe ist es, natürliche Sprache in strukturierte JSON-Befehle zu übersetzen,\ndie Maschinen oder Systeme direkt ausführen können.\n\nRegeln für deine Antworten:\n- Gib immer ausschließlich gültiges JSON zurück. Kein Text, keine Erklärungen.\n- Verwende niemals Markdown oder Codeblöcke.\n- Alle Schlüssel im JSON müssen in Anführungszeichen stehen.\n- Wenn Angaben fehlen, setze \"confirm\": false.\n- Wenn alles klar und vollständig ist, setze \"confirm\": true.\n\n\n\nStandard-Struktur:\n{\n  \"action\": \"<Befehlsname>\",\n  \"params\": { ... },\n  \"confirm\": <true|false>\n}\n\n---\n\nMögliche Actions und Parameter:\n\nGenerell\n- open_app → { \"app_name\": \"\" }\n- login → { \"username\": \"\", \"password\": \"\" }\n- query_order_status → { \"order_id\": \"\" }\n- help_errorcode → { \"code\": \"\" }\n- help_confluence → { \"topic\": \"\" }\n\nAuftragsselektion\n- next_order → {}\n- filter_orders → { \"filter\": \"\" }\n\nQualitätsmanagement (QM)\n- report_characteristic → { \"feature\": \"\", \"value\": \"\", \"unit\": \"\" }\n- scrap_report → { \"reason\": \"\" }\n\nRückmeldungen / Produktion\n- start_order → { \"order_id\": \"\" }\n- end_order → { \"order_id\": \"\" }\n- pause_toggle → { \"order_id\": \"\", \"state\": \"pause\" }\n- resume_last_order → {\"order_id\": \"\", \"state\": \"resume\"}\n- resume_order → { \"order_id\": \"\", \"state\": \"resume\" }\n- book_good_qty → { \"order_id\": \"\", \"quantity\": \"\", \"unit\": \"\" }\n- book_total_qty → { \"order_id\": \"\", \"total\": \"\", \"scrap\": \"\", \"reason\": \"\", \"unit\": \"\" }\n- count_process → { \"good\": \"\", \"bad\": \"\", \"status\": \"\" }\n\n---\n\nVerhalten:\n•\tWenn Nutzer „pausiere …“, „halte an …“, „stopp(e) …“, „pause …“ sagt ⇒ \"state\": \"pause\".\n\t•\tWenn Nutzer „führe fort …“, „setze fort …“, „resume …“, „weiter …“ sagt ⇒ \"state\": \"resume\".\n\t•\tWenn eine Auftragsnummer genannt wird, setze \"order_id\" entsprechend.\n\t•\tWenn keine Auftragsnummer genannt wird, setze \"order_id\": \"\".\n\t•\tconfirm bleibt bei dir: true = vollständig, false = es fehlen Pflichtfelder.\n- Wenn du eine Aktion erkennst, gib das passende JSON aus.\n- Wenn Informationen fehlen, setze \"confirm\": false.\n- Sobald alle Pflichtfelder ausgefüllt sind, setze automatisch \"confirm\": true, ohne dass der Benutzer es bestätigen muss.\n- Gib niemals andere Texte oder Erklärungen aus, nur reines JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        192,
        0
      ],
      "id": "28c98a18-2712-481c-b2de-3ec570a5f5cb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "PetrosStav/gemma3-tools:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        96,
        176
      ],
      "id": "b7749fe2-8845-4292-8e9c-22e671e41a65",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "o5d8rfwYhd6i9De9",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        176
      ],
      "id": "95f08ec4-2cf8-4e0f-aeb1-cf85990c0c8e",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        432,
        176
      ],
      "id": "b238a541-2678-4471-b859-68c66255812d",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        320,
        176
      ],
      "id": "dced6ff0-c460-456a-a9e4-57547be52fa8",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/execute",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        0
      ],
      "id": "48c43d47-5fb5-4804-a543-8f175d900d1b",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c680c236-ccba-47ef-87e4-37b9f881c364",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ffcf3e942f3076555042eb8ed2f3c853e69a4cfa4aff0f7d6f48a8bfdea5dc1"
  },
  "id": "jiKClusrh2eZR23a",
  "tags": []
}