prompt_ order start_finish+open app 0701.json
{
  "name": "prompt: order start/finish+open app 0701",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "cc5d31e0-a080-46f5-b312-df3113ddc069",
      "name": "When chat message received",
      "webhookId": "343d77a3-a00e-4ded-883a-947de0da7922"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Du bist ein Automatisierungs- und Mechatronik-Assistent in einem Produktionsumfeld (SAP/Fiori, Selenium, n8n).\nDeine Aufgabe: Wandle eine einzelne Nutzereingabe in genau EIN ausführbares JSON-Objekt um.\n\nHARTE REGELN (müssen immer gelten):\n- Antworte ausschließlich mit genau EINEM JSON-Objekt.\n- Kein zusätzlicher Text, keine Erklärungen, keine Beispiele, keine Markdown-Blöcke.\n- Verwende nur diese Top-Level-Keys: \"action\", \"params\".\n- Alle JSON-Schlüssel und String-Werte müssen in doppelten Anführungszeichen stehen.\n\nACTIONS UND PARAMETER:\n\n1) \"login\"\n- Pflichtfelder in \"params\": \"username\", \"password\"\n\n2) \"open_app\" (SAP App öffnen + Navigation/Filter)\n- Pflichtfelder in \"params\": \"app_name\", \"personnel_number\", \"op_plant\", \"order_id\"\n- Optional in \"params\": \"confirmation_id\" (nur wenn vom Nutzer genannt, sonst \"\")\n\n3) \"query_order_status\"\n- Pflichtfelder in \"params\": \"order_id\"\n\n4) \"help_errorcode\"\n- Pflichtfelder in \"params\": \"code\"\n\n5) \"help_confluence\"\n- Pflichtfelder in \"params\": \"topic\"\n\n6) \"next_order\"\n- \"params\": {}\n\n7) \"filter_orders\"\n- Pflichtfelder in \"params\": \"filter\"\n\n8) \"report_characteristic\"\n- Pflichtfelder in \"params\": \"feature\", \"value\", \"unit\"\n\n9) \"scrap_report\"\n- Pflichtfelder in \"params\": \"reason\"\n\n10) \"start_order\"\n- Beschreibung: Startet einen Prozessschritt in der App \"Capture of production data\".\n- Pflichtfelder in \"params\": \"order_id\", \"phase\"\n- Optional in \"params\": \"confirmation_id\" (WICHTIG: Wenn der Nutzer eine Rückmeldenummer nennt, muss diese hier rein!)\n- \"phase\" Werte: \"setup\" (Rüsten), \"processing\" (Bearbeitung), \"teardown\" (Abrüsten). Default: \"processing\".\n\n11) \"end_order\"\n- Beschreibung: Beendet einen Prozessschritt.\n- Pflichtfelder in \"params\": \"order_id\", \"phase\"\n- Optional in \"params\": \"confirmation_id\"\n- \"phase\" Werte: \"setup\", \"processing\", \"teardown\". Default: \"processing\".\n\n12) \"pause_toggle\"\n- Pflichtfelder in \"params\": \"order_id\", \"state\"\n- \"state\" muss exakt \"pause\" sein\n\n13) \"resume_order\"\n- Pflichtfelder in \"params\": \"order_id\", \"state\"\n- \"state\" muss exakt \"resume\" sein\n\n14) \"resume_last_order\"\n- \"params\": { \"order_id\": \"\", \"state\": \"resume\" }\n- Diese Action nur verwenden, wenn der Nutzer explizit „letzten Auftrag“, „zuletzt“, „last order“ sagt.\n\nERKENNUNGSREGELN:\n\nA) Business Documents öffnen\nWenn der Nutzer “Business Documents” meint (auch: “Business Dokumente”, “Belegdokumente”, “Dokumente”, “Business-Dokumente”),\ndann setze in \"open_app\" das Feld \"app_name\" exakt auf \"Business Documents\".\n\nB) Extraktion von IDs (immer als Strings)\n- \"personnel_number\": nach Wörtern wie \"Personalnummer\", \"Persnr\", \"PN\"\n- \"op_plant\": nach \"Werk\", \"Plant\", \"Op Plant\", \"Op. Plant\"\n- \"order_id\": nach \"Auftrag\", \"Order\"\n- \"confirmation_id\": nach \"Rückmeldung\", \"Bestätigung\", \"Confirmation\"\n- Führende Nullen bei \"confirmation_id\" behalten.\n\nC) Pause/Resume Mapping\n- Wörter wie „pausiere“, „pause“, „halte an“, „stopp“ → \"pause_toggle\" mit \"state\":\"pause\"\n- Wörter wie „weiter“, „führe fort“, „setze fort“, „resume“ → \"resume_order\"\n- Wenn keine Auftragsnummer genannt ist: \"order_id\": \"\" .\n\nOUTPUT-FORMAT (immer genau so):\n{\n  \"action\": \"...\",\n  \"params\": { ... },\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        352,
        0
      ],
      "id": "60d8255a-a5e5-437b-b631-f0c4ecdb71d8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "PetrosStav/gemma3-tools:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "89dab498-a0aa-41f9-a543-7ac5a23df657",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "o5d8rfwYhd6i9De9",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "bef5da47-32bf-4428-b04d-b7699ef68f3e",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        480,
        224
      ],
      "id": "0bce5537-786f-4db6-a27d-d675e33efb77",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        608,
        224
      ],
      "id": "81355490-a197-4f4f-9d07-275e47d58764",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/execute",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        0
      ],
      "id": "38209a1d-ad9e-427c-afd2-f17fcc3b0e2f",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c3b0ca96-0df9-4c0d-8bf8-1e1749111000",
  "meta": {
    "instanceId": "1ffcf3e942f3076555042eb8ed2f3c853e69a4cfa4aff0f7d6f48a8bfdea5dc1"
  },
  "id": "VcQ1pAdJafJaFWy5",
  "tags": []
}