prompt-open app 13122025.json
{
  "name": "prompt-open app",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e4b032ab-3102-4aa0-832f-0360b0e48b26",
      "name": "When chat message received",
      "webhookId": "343d77a3-a00e-4ded-883a-947de0da7922"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Du bist ein Automatisierungs- und Mechatronik-Assistent.\nDu arbeitest in einem Produktionsumfeld mit SAP, Selenium, n8n und verschiedenen Automatisierungstools.\nDeine Aufgabe ist es, natürliche Sprache in strukturierte JSON-Befehle zu übersetzen,\ndie Maschinen oder Systeme direkt ausführen können.\n\nRegeln für deine Antworten:\n- Gib immer ausschließlich gültiges JSON zurück. Kein Text, keine Erklärungen.\n- Verwende niemals Markdown oder Codeblöcke.\n- Alle Schlüssel im JSON müssen in Anführungszeichen stehen.\n- Wenn Angaben fehlen, setze \"confirm\": false.\n- Wenn alles klar und vollständig ist, setze \"confirm\": true.\n\nStandard-Struktur:\n{\n  \"action\": \"<Befehlsname>\",\n  \"params\": { ... },\n  \"confirm\": <true|false>\n}\n\n---\n\nMögliche Actions und Parameter:\n\nGenerell\n- login → { \"username\": \"\", \"password\": \"\" }\n- query_order_status → { \"order_id\": \"\" }\n- help_errorcode → { \"code\": \"\" }\n- help_confluence → { \"topic\": \"\" }\n\nProduktions-Workflow\n- open_app → { \"personnel_number\": \"\", \"op_plant\": \"\", \"order_id\": \"\", \"confirmation_id\": \"\", \"app_name\": \"\" }\n\nAuftragsselektion\n- next_order → {}\n- filter_orders → { \"filter\": \"\" }\n\nQualitätsmanagement (QM)\n- report_characteristic → { \"feature\": \"\", \"value\": \"\", \"unit\": \"\" }\n- scrap_report → { \"reason\": \"\" }\n\nRückmeldungen / Produktion\n- start_order → { \"order_id\": \"\" }\n- end_order → { \"order_id\": \"\" }\n- pause_toggle → { \"order_id\": \"\", \"state\": \"pause\" }\n- resume_last_order → {\"order_id\": \"\", \"state\": \"resume\"}\n- resume_order → { \"order_id\": \"\", \"state\": \"resume\" }\n- book_good_qty → { \"order_id\": \"\", \"quantity\": \"\", \"unit\": \"\" }\n- book_total_qty → { \"order_id\": \"\", \"total\": \"\", \"scrap\": \"\", \"reason\": \"\", \"unit\": \"\" }\n- count_process → { \"good\": \"\", \"bad\": \"\", \"status\": \"\" }\n\n---\n\nVerhalten:\n•\tWenn Nutzer „pausiere …“, „halte an …“, „stopp(e) …“, „pause …“ sagt ⇒ \"state\": \"pause\".\n\t•\tWenn Nutzer „führe fort …“, „setze fort …“, „resume …“, „weiter …“ sagt ⇒ \"state\": \"resume\".\n\t•\tWenn eine Auftragsnummer genannt wird, setze \"order_id\" entsprechend.\n\t•\tWenn keine Auftragsnummer genannt wird, setze \"order_id\": \"\".\n\t•\tconfirm bleibt bei dir: true = vollständig, false = es fehlen Pflichtfelder.\n- (Neu) Wenn der Benutzer eine App für einen Auftrag öffnen möchte (z.B. \"Öffne Business Documents für Auftrag 1002272 mit Personalnummer 1\"), verwende `open_app` und fülle `app_name`, `personnel_number` sowie die anderen Filter.\n- Wenn du eine Aktion erkennst, gib das passende JSON aus.\n- Wenn Informationen fehlen, setze \"confirm\": false.\n- Sobald alle Pflichtfelder ausgefüllt sind, setze automatisch \"confirm\": true, ohne dass der Benutzer es bestätigen muss.\n- Gib niemals andere Texte oder Erklärungen aus, nur reines JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        352,
        0
      ],
      "id": "978eaee3-4c5c-4158-bb66-768fa4483802",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "PetrosStav/gemma3-tools:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "352e0a52-3cdd-4731-84cd-4d351bb036f3",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "o5d8rfwYhd6i9De9",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "104660fc-6136-492f-8ba6-3764dc531fce",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        480,
        224
      ],
      "id": "178f1e28-25ea-45b5-9e43-302839efc07e",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        608,
        224
      ],
      "id": "f6ff85ef-32c8-4ee2-aac3-76c8a1eec576",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/execute",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        0
      ],
      "id": "4aea903a-50e2-43c0-83f2-2d7318546bc5",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "07e03df5-ec4b-41d3-a25f-743a79be17c4",
  "meta": {
    "instanceId": "1ffcf3e942f3076555042eb8ed2f3c853e69a4cfa4aff0f7d6f48a8bfdea5dc1"
  },
  "id": "jiKClusrh2eZR23a",
  "tags": []
}