Telegram speechrecognition (1).json
{
  "name": "Telegram speechrecognition",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=Du bist ein Automatisierungs- und Mechatronik-Assistent in einem Produktionsumfeld (SAP/Fiori, Selenium, n8n).\nDeine Aufgabe: Wandle eine einzelne Nutzereingabe in genau EIN ausführbares JSON-Objekt um.\n\nHARTE REGELN (immer):\n- Antworte ausschließlich mit genau EINEM JSON-Objekt.\n- Kein zusätzlicher Text, keine Erklärungen, keine Beispiele, kein Markdown.\n- Verwende nur diese Top-Level-Keys: \"action\", \"params\".\n- Alle JSON-Schlüssel und alle String-Werte müssen in doppelten Anführungszeichen stehen.\n- Gib niemals ein JSON mit trailing comma aus (KEIN Komma nach der letzten Property / letzten Klammer).\n- BENUTZE NIEMALS TOOLS oder Wrapper (z.B. keine Tool-Calls, kein \"arguments\", kein \"input\", keine Listen, keine Funktionsaufrufe). Antworte direkt als JSON-Text.\n\nACTIONS UND PARAMETER:\n\n1) \"login\"\n- Pflichtfelder in \"params\": \"username\", \"password\"\n\n2) \"open_app\" (SAP App öffnen + Navigation/Filter)\n- Pflichtfelder in \"params\": \"app_name\", \"personnel_number\", \"op_plant\", \"order_id\"\n- Optional in \"params\": \"operation_filter\" (wenn nicht genannt: \"\")\n\n3) \"query_order_status\"\n- Pflichtfelder in \"params\": \"order_id\"\n\n4) \"help_errorcode\"\n- Pflichtfelder in \"params\": \"code\"\n\n5) \"help_confluence\"\n- Pflichtfelder in \"params\": \"topic\"\n\n6) \"next_order\"\n- \"params\": {}\n\n7) \"filter_orders\"\n- Pflichtfelder in \"params\": \"filter\"\n\n8) \"report_characteristic\"\n- Pflichtfelder in \"params\": \"feature\", \"value\", \"unit\"\n\n9) \"scrap_report\"\n- Pflichtfelder in \"params\": \"reason\"\n\n10) \"start_order\"\n- Pflichtfelder in \"params\": \"personnel_number\", \"op_plant\", \"order_id\", \"phase\", \"operation_filter\"\n- \"phase\" muss exakt \"setup\" oder \"processing\" oder \"teardown\" sein\n- Wenn nicht genannt: \"phase\" = \"setup\"\n- Wenn nicht genannt: \"operation_filter\" = \"\"\n\n11) \"end_order\"\n- Pflichtfelder in \"params\": \"personnel_number\", \"op_plant\", \"order_id\", \"phase\", \"operation_filter\"\n- \"phase\" muss exakt \"setup\" oder \"processing\" oder \"teardown\" sein\n- Wenn nicht genannt: \"phase\" = \"setup\"\n- Wenn nicht genannt: \"operation_filter\" = \"\"\n\n12) \"pause_toggle\"\n- Pflichtfelder in \"params\": \"order_id\", \"state\"\n- \"state\" muss exakt \"pause\" sein\n\n13) \"resume_order\"\n- Pflichtfelder in \"params\": \"order_id\", \"state\"\n- \"state\" muss exakt \"resume\" sein\n\n14) \"resume_last_order\"\n- \"params\": { \"order_id\": \"\", \"state\": \"resume\" }\n\n15) \"previous_order\"\n- \"params\": {}\n\n16) \"qty_confirmation\"\n- Pflichtfelder in \"params\": \"order_id\", \"operation_filter\", \"yield_qty\", \"scrap_qty\", \"rework_qty\", \"reason\"\n- Alle Mengen als Strings ausgeben (z.B. \"0\", \"12\", \"3.5\")\n- Wenn eine Menge nicht genannt ist, setze sie auf \"0\"\n- \"reason\" ist Pflicht (wenn nicht genannt: \"\")\n\nERKENNUNGSREGELN:\n\nA) Business Documents öffnen\nWenn der Nutzer “Business Documents” meint (auch: “Business Dokumente”, “Belegdokumente”, “Dokumente”, “Business-Dokumente”),\ndann setze in \"open_app\" das Feld \"app_name\" exakt auf \"Business Documents\".\n\nB) Extraktion von IDs (immer als Strings)\n- \"personnel_number\": nach Wörtern wie \"Personalnummer\", \"Persnr\", \"PN\"\n- \"op_plant\": nach \"Werk\", \"Plant\", \"Op Plant\", \"Op. Plant\", \"Op. Werk\"\n- \"order_id\": nach \"Auftrag\", \"Order\"\n- \"operation_filter\": nach \"Vorgang\", \"Operation\", \"operation id\" (z.B. 0010, 0020, 0030)\n\nWICHTIG (hart):\n- \"operation_filter\" (Vorgang/Operation/operation id) beeinflusst NUR \"operation_filter\" und NIEMALS \"phase\".\n\nC) Defaulting-Regeln (wenn nicht genannt)\n- \"personnel_number\": \"1\"\n- \"op_plant\": \"\"\n- \"order_id\": \"\"\n- \"operation_filter\": \"\"\n- \"phase\": \"setup\"\n\nD) Phase-Logik (Priorität, nur anhand dieser Wörter)\nSetze \"phase\" nur nach folgender Priorität:\n1) Wenn Text enthält: \"abrüsten\" / \"teardown\" -> \"phase\": \"teardown\"\n2) Sonst wenn Text enthält: \"verarbeitung\" / \"bearbeitung\" / \"processing\" -> \"phase\": \"processing\"\n3) Sonst -> \"phase\": \"setup\" (gilt auch bei \"auftrag\", \"rüsten\", oder wenn nichts genannt ist)\n\nE) Pause/Resume Mapping\n- Wörter wie „pausiere“, „pause“, „halte an“, „stopp“ → \"pause_toggle\" mit \"state\":\"pause\"\n- Wörter wie „weiter“, „führe fort“, „setze fort“, „resume“ → \"resume_order\" mit \"state\":\"resume\"\n- Wenn keine Auftragsnummer genannt ist: \"order_id\": \"\"\n\nF) Mengen buchen (qty_confirmation)\nWenn der Nutzer “Buche die Mengen”, “Mengen buchen”, “buche Mengen”, “Rückmeldung Mengen”, “confirm quantities”, “book quantities” sagt,\ndann MUSS die Action \"qty_confirmation\" sein.\nExtrahiere:\n- \"Auftrag\"/\"Order\" -> \"order_id\"\n- \"Vorgang\"/\"Operation\"/\"operation id\" -> \"operation_filter\"\n- \"Gutmenge\" -> \"yield_qty\"\n- \"Ausschuss\" -> \"scrap_qty\"\n- \"Nacharbeit\" -> \"rework_qty\"\n- \"Grund\"/\"Reason\" -> \"reason\"\n\nWICHTIG (hart) für \"reason\" bei qty_confirmation:\n- Es gibt nur genau diese 4 erlaubten Gründe (exakt so schreiben):\n  1) \"Maschinenschaden\"\n  2) \"Bedienungsfehler\"\n  3) \"Materialfehler\"\n  4) \"Abfall\"\n- Setze \"reason\" IMMER anhand des Textes, auch wenn \"Grund\" ohne Doppelpunkt geschrieben ist, oder zusammengezogen ist (z.B. \"grundmaschinenschaden\", \"grund: maschinenschaden\", \"grund maschinenschaden\").\n- Erkennung erfolgt fallunabhängig und auch bei zusammengesetzten Wörtern/ohne Leerzeichen. Prüfe dazu auf diese Teilwörter im Text:\n  - enthält \"maschin\" oder \"störung\" oder \"stoerung\" oder \"defekt\" -> \"Maschinenschaden\"\n  - enthält \"bedien\" oder \"operator\" -> \"Bedienungsfehler\"\n  - enthält \"material\" -> \"Materialfehler\"\n  - enthält \"abfall\" oder \"ausschussgrundabfall\" -> \"Abfall\"\n- Wenn mehrere passen: Priorität = Maschinenschaden > Bedienungsfehler > Materialfehler > Abfall.\n- Wenn kein Grund erkennbar ist: \"reason\" = \"\".\n\nG) Next/Previous Mapping (hart, hohe Priorität)\n- Wenn Text enthält: \"nächster\" oder \"naechster\" oder \"weiter\" oder \"next\" oder \"next order\" -> action = \"next_order\" und params = {}\n- Wenn Text enthält: \"vorheriger\" oder \"zurück\" oder \"zurueck\" oder \"back\" oder \"previous\" oder \"previous order\" -> action = \"previous_order\" und params = {}\n- Wenn beide vorkommen: nimm das Wort, das näher an \"auftrag/order\" steht; sonst \"next_order\".\n- \"nächster auftrag\" ist IMMER \"next_order\".\n- \"vorheriger auftrag\" ist IMMER \"previous_order\".\n\nOUTPUT-FORMAT (immer genau so, ohne trailing comma):\n{\n  \"action\": \"...\",\n  \"params\": { ... }\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        816,
        0
      ],
      "id": "920a474e-9703-4d4b-a28b-61a2e3811ae0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        736,
        160
      ],
      "id": "8acdb31e-588b-4b50-95a6-635f100005d0",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "6Qu2tG0DSPXWUIOo",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        880,
        160
      ],
      "id": "091b4415-fcf9-4b42-80f4-419ea1eef4de",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1088,
        160
      ],
      "id": "02f3a102-e091-469f-b4f8-fa1275dce44e",
      "name": "Calculator",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        992,
        160
      ],
      "id": "8c682883-25b1-4c9b-9a3c-12abb1795b71",
      "name": "Wikipedia",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{$json.output}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        0
      ],
      "id": "4c306c44-1572-4b00-b40b-3370f222d5f6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        0
      ],
      "id": "07e469e3-ed61-40d5-b933-fffc805d5e5d",
      "name": "Telegram Trigger",
      "webhookId": "b7542b03-c4c5-4adf-a70a-9b06d95666bc",
      "credentials": {
        "telegramApi": {
          "id": "eOBgJr042cBBF9aS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{$node[\"Telegram Trigger\"].json.message.voice.file_id}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        0
      ],
      "id": "51e3b41f-73b8-41fe-ab3f-3fd5a0c17058",
      "name": "Get a file",
      "webhookId": "5e4e7bed-d9f6-43a8-a837-299230388174",
      "credentials": {
        "telegramApi": {
          "id": "eOBgJr042cBBF9aS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whisper:9000/asr?output=json&task=transcribe&language=de&encode=true",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        0
      ],
      "id": "221b0d15-4ea3-4011-bba2-4a4244b9a655",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "function lev(a, b) {\n  a = a || \"\"; b = b || \"\";\n  const m = a.length, n = b.length;\n  const dp = Array.from({ length: m + 1 }, (_, i) => Array(n + 1).fill(0));\n  for (let i = 0; i <= m; i++) dp[i][0] = i;\n  for (let j = 0; j <= n; j++) dp[0][j] = j;\n  for (let i = 1; i <= m; i++) for (let j = 1; j <= n; j++) {\n    dp[i][j] = Math.min(\n      dp[i-1][j] + 1,\n      dp[i][j-1] + 1,\n      dp[i-1][j-1] + (a[i-1] === b[j-1] ? 0 : 1)\n    );\n  }\n  return dp[m][n];\n}\n\nfunction norm(s) {\n  return (s || \"\")\n    .toLowerCase()\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .replace(/[.?!]+$/g, \"\");\n}\n\nfunction fix(t) {\n  // \"öffne\" Fehlhörer\n  t = t.replace(/^(erffernet|erffne|erfne|offnen|ofnen|offne|ofne|oeffne|oefne|öffnet|offnet|ofnet|öffnen)\\b/, \"öffne\");\n  // SAP Fehlhörer\n  t = t.replace(/\\b(srp|sab|sapp|saap|essap)\\b/g, \"sap\");\n  // Advanced Manufacturing Fehlhörer\n  t = t.replace(/\\b(advenced|advansed|advanst|advansd)\\b/g, \"advanced\");\n  t = t.replace(/\\b(manufactoring|manufactering|manufakturing|manufakturierung)\\b/g, \"manufacturing\");\n  // Schreibweisen\n  t = t.replace(/\\bkanbanboard\\b/g, \"kanban board\");\n  t = t.replace(/\\borderboard\\b/g, \"order board\");\n  return t;\n}\n\n// Apps (nur die aus deinem Bild)\nconst APPS = [\n  { canon: \"advanced manufacturing\", synonyms: [\"advanced manufacturing\", \"advanced\", \"am\"] },\n  { canon: \"production order board\", synonyms: [\"production order board\", \"order board\", \"production board\", \"auftragsboard\", \"production order\"] },\n  { canon: \"production monitor\", synonyms: [\"production monitor\", \"monitor\", \"produktionsmonitor\"] },\n  { canon: \"show confirmation\", synonyms: [\"show confirmation\", \"show confirmations\", \"confirmations\", \"rückmeldungen anzeigen\", \"bestaetigungen anzeigen\"] },\n  { canon: \"revert/change confirmations\", synonyms: [\"revert/change confirmations\", \"revert confirmations\", \"change confirmations\", \"confirmations ändern\", \"bestaetigungen aendern\", \"rückmeldungen ändern\", \"storno rückmeldung\"] },\n  { canon: \"kanban board\", synonyms: [\"kanban board\", \"kanban\", \"kanbanboard\"] },\n];\n\n// Whitelist der \"kanonischen\" Kommandos, die der Agent sicher versteht\nconst CANON = [\n  \"öffne sap\",\n  \"öffne advanced manufacturing\",\n  \"öffne production order board\",\n  \"öffne production monitor\",\n  \"öffne show confirmation\",\n  \"öffne revert/change confirmations\",\n  \"öffne kanban board\",\n  \"logge mich ein\",\n  \"nächster auftrag\",\n  \"filter aufträge\",\n  \"status auftrag\",\n  \"pausiere\",\n  \"weiter\",\n];\n\nfor (const item of $input.all()) {\n  let obj;\n  try { obj = JSON.parse(item.json.data); } catch { obj = { text: \"\" }; }\n\n  let t = fix(norm(obj.text || \"\"));\n\n  // Confidence-Gate (wenn Whisper Mist rät -> NO_COMMAND)\n  const seg0 = (obj.segments && obj.segments[0]) ? obj.segments[0] : {};\n  const noSpeech = (seg0.no_speech_prob ?? 0);\n  const logp = (seg0.avg_logprob ?? 0);\n  if (noSpeech > 0.45 || logp < -1.2 || t.length < 2) {\n    item.json.cleanText = \"NO_COMMAND\";\n    continue;\n  }\n\n  // --- Spezial: \"öffne <app>\" robust auf App-Liste matchen ---\n  if (/^öffne\\b/.test(t)) {\n    const rest = t.split(\" \").slice(1).join(\" \").trim(); // nach \"öffne\"\n    let bestApp = { canon: null, d: 1e9 };\n\n    for (const a of APPS) {\n      for (const s of a.synonyms) {\n        const d = lev(rest, s);\n        if (d < bestApp.d) bestApp = { canon: a.canon, d };\n      }\n    }\n\n    // Threshold für App-Namen (etwas großzügiger als CANON)\n    if (bestApp.canon && bestApp.d <= 9) {\n      item.json.cleanText = `öffne ${bestApp.canon}`;\n      continue;\n    }\n  }\n\n  // Fuzzy-Match auf kanonische Kommandos (generell)\n  let best = { cmd: null, d: 1e9 };\n  for (const c of CANON) {\n    const d = lev(t, c);\n    if (d < best.d) best = { cmd: c, d };\n  }\n\n  // Schwelle: kleiner = strenger. 6 ist ein guter Start.\n  item.json.cleanText = (best.d <= 6) ? best.cmd : t;\n\n  // Extra: harte Regeln, wenn Keywords sicher erkannt wurden\n  if (/sap/.test(t) && /öffne/.test(t)) item.json.cleanText = \"öffne sap\";\n  if (/advanced/.test(t) && /manufacturing/.test(t) && /öffne/.test(t)) item.json.cleanText = \"öffne advanced manufacturing\";\n  if (/production/.test(t) && /monitor/.test(t) && /öffne/.test(t)) item.json.cleanText = \"öffne production monitor\";\n  if (/production/.test(t) && /order/.test(t) && /board/.test(t) && /öffne/.test(t)) item.json.cleanText = \"öffne production order board\";\n  if (/show/.test(t) && /confirm/.test(t) && /öffne/.test(t)) item.json.cleanText = \"öffne show confirmation\";\n  if ((/revert/.test(t) || /change/.test(t) || /storno/.test(t)) && /confirm/.test(t) && /öffne/.test(t)) item.json.cleanText = \"öffne revert/change confirmations\";\n  if (/kanban/.test(t) && /öffne/.test(t)) item.json.cleanText = \"öffne kanban board\";\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        0
      ],
      "id": "7e279e7f-1771-4142-af54-4ade86f14402",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "228a4fd7-954d-4b38-9b59-7240a7e63d72",
              "name": "sessionId",
              "value": "={{$node[\"Telegram Trigger\"].json.message.chat.id}}",
              "type": "string"
            },
            {
              "id": "1ad7cb11-44d1-419c-be01-1985ea1a7ec6",
              "name": "action",
              "value": "sendMessage",
              "type": "string"
            },
            {
              "id": "66c0dc15-1822-432f-8417-70bc654f4af1",
              "name": "chatInput",
              "value": "={{$json.cleanText}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        0
      ],
      "id": "ad043877-3521-4435-ad47-336184bc838d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n  // 1) AI Agent Output (meist string) holen\n  const raw = item.json.output ?? item.json.data ?? item.json.text ?? \"\";\n\n  // 2) JSON rausziehen (falls drum herum Text ist)\n  let cmd = null;\n  if (typeof raw === \"string\" && raw.trim()) {\n    const start = raw.indexOf(\"{\");\n    const end = raw.lastIndexOf(\"}\");\n    const sliced = (start !== -1 && end !== -1) ? raw.slice(start, end + 1) : raw;\n    try { cmd = JSON.parse(sliced); } catch { cmd = null; }\n  }\n\n  // 3) Fallback: wenn schon Objekt\n  if (!cmd || typeof cmd !== \"object\") cmd = item.json;\n\n  // 4) Login hart setzen\n  if (cmd?.action === \"login\") {\n    cmd.params = cmd.params || {};\n    cmd.params.username = \"HSE\";\n    cmd.params.password = \"Mtproject123\";\n    cmd.confirm = true;\n  }\n\n  // 5) WICHTIG: IMMER als String output bereitstellen (RAW Body)\n  item.json.output = JSON.stringify(cmd);\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        0
      ],
      "id": "3bafdc1e-ec8b-4a5e-8b64-556ae8d89fee",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f91f11cc-4923-4d19-bfe7-cc02c90a49c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac5d009945f363ecafcb701a291d5da76e703d61f898af314ee9cadc9a6bbfe3"
  },
  "id": "RyVUxWfvqtXNv0eK",
  "tags": []
}